<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | node.url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | node.url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | node.url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | node.url }}">

  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | node.url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | node.url }}">
</head>

